@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --darkBackground: #060605;
  --lightText: #ede4c5;
  --brightColor: #ffb67c;
  display: block;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

h2 {
  font-size: 1.5rem;
}

header {
  padding: 1% 0;
  background-color: var(--darkBackground);
  color: var(--lightText);
}

nav li {
  list-style: none;
  padding: 0 10px;
  margin: 0 10px;
}

/* .flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.autoMarginLeft {
  margin-left: auto;
}

.backgroundImage {
  height: 100dvh;
  background-image: url(/Assets/Truck\ Driving\ Overlay.png);
  background-position-y: center;
  background-size: cover;
}

.heroContent {
  height: 200px;
  justify-content: space-between;
  color: var(--brightColor);
  font-size: 2rem;
  max-width: 50%;
  line-height: 150%;
  text-align: center;
}

.button {
  font-size: 1.2rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
}

.noFill {
  background: rgba(0, 0, 0, 0);
}

.noFill.lightBorder:hover {
  cursor: pointer;
  background-color: #f8a968;
  color: #060605;
  font-weight: 800;
}

.lightBorder {
  border: var(--brightColor) 0.35rem solid;
  color: var(--lightText);
}

.thirtyFiveWidth {
  width: 35%;
}

.darkBackground {
  background: var(--darkBackground);
  color: var(--lightText);
}

.space {
  height: 75%;
}

.spacEvenly {
  justify-content: space-evenly;
}

.seventyFiveWidth {
  width: 75%;
}

h2 {
  margin: 0 0;
  font-size: 3rem;
}

img ~ h3 {
  margin: 1.2rem;
  font-size: 2rem;
}

.minWidth50 {
  min-width: 50%;
}

.minWidth75 {
  min-width: 75%;
}

.lightBackground {
  height: 102dvh;
  background-color: var(--lightText);
}

.minHeight100 {
  min-height: 100%;
}

.centeredText {
  text-align: center;
}

.seventyFiveWidth {
  width: 75%;
}

.height {
  min-height: 75%;
}

.centeredText {
  text-align: center;
}

form {
  display: flex;
  height: 75%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
}

form p {
  display: flex;
}

textarea {
  width: 100%;
}

.marginCentered {
  margin: 0 auto;
} */
